.App {
  text-align: center;
  color: white;
  margin: 10px;
  position: relative;

}

body {
  background-color: black;
}

.modal {
  margin: 50px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.308);
  background-color: white;
  transition: opacity 4s;
  opacity: 1;
}

.modal:hover {
  opacity: 0;
}



@keyframes glow {

  from {
    text-shadow: 0 0 10px #5ef54a, 0 0 20px #569c79, 0 0 30px greenyellow, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green;
  }

  to {
    text-shadow: 0 0 20px #74d491, 0 0 30px greenyellow, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green, 0 0 80px greenyellow;
  }
}

.fx {
background-color: black;
  font-size: 40px;
  color: rgb(60, 255, 0);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  position: sticky;
  top: 0px;
}

.description{
  font-size: 14px;
}

.vidInfo{
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.vid {
  height: auto;
  width: 100%;
  color: green;
  text-align: start;
  padding: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vidWrapper{
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.vidWrapper video {
  width: 90%;
  height: 70vh;
}

.linkFx {
  text-decoration: none;
  color: green;
}

.linkTitle {
  text-decoration: none;
  color: greenyellow;
}
.vidItem {

  background-color: black;
  margin: 5px;
  border: 1px solid green;
  border-radius: 8px;
}

.vidBg {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
}